body{
  background-color: black;
  color: white;
}
h1{
  font-size: 2.75rem;
}
#index {
    background-image: url("../img/movies.jpg");
    background-repeat: no-repeat;
    background-size: 100% 700px;

}
#indexInfo button{
  width: 100px;
  height: 35px;
  color: #ffffff;
  background-color: #e50914;
  border: 0;
  border-radius: 3px;
  float: right;
  margin-right: 20px;
}
#content{
  width: auto;
  /* margin-top: 250px; */
  transform: translate(0%,50%);
  text-align: center;
  margin-bottom: 400px;
}
#indexButtonNav{
  position: absolute;
  top: 3%;
  right: 3%
}
#content button{
  position: absolute;
  height: 55px;
  border-radius: 0;
  width: 150px;
  transform: translate(-33%,174.7%);
}
#content input{
  transform: translate(-7%,170%);
  height: 50px;
  width: 450px;
}
#content2 , #content3{
  background-color: black;
  padding-bottom: 150px;
  border-top: 10px solid #303030;
}
#content2 h1{
  width: 270px;
  margin-left: 50px;
  margin-top: 100px;
  margin-bottom: 50px;
}
#content2 h2{
  width: 35%;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
}
#content2 img{
  width: 400px;
  height: 300px;
  margin-left: 50%;
  margin-top: 0;
  position: absolute;
  transform: translate(10%, -100%);
}
#content3 h1{
  text-align: center;
  margin-top: 70px;
}
#content3 button{
  text-align: left;
  background-color:  #4d4d4d;
  color: white;
  width: 850px;
  height: 60px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 8px;
  line-height: 350%;
  font-size: 20px;
}
#content3 input{
  position: absolute;
  margin-left: 50%;
  transform: translate(-80%,-60%);
  height: 50px;
  width: 450px;
  margin-top: 170px;
}
#content3 h3{
  position: absolute;
  margin-left: 52%;
  width: 800px;
  transform: translate(-50%,-60%);
  margin-top: 100px;
  margin-bottom: 50px;
}
#content3 #aanDeSlag{
  background-color: #e50914;
  position: absolute;
  margin-left: 52%;
  height: 55px;
  border-radius: 0;
  width: 150px;
  line-height: 250%;
  transform: translate(32%,249.5%);
  float: right;
  text-align: center;
}
.wrapper{
  width: 10px;
  height: 0px;
}
.wrapper img{
  width: 120px;
}
