body{
  background-color: black;
  color: white;
}
h1{
  font-size: 2.75rem;
}
#index button{
  width: 100px;
  height: 35px;
  color: #ffffff;
  background-color: #e50914;
  border: 0;
  border-radius: 3px;
  float: right;
  margin-right: 20px;
}
#content{
  width: auto;
  margin-top: 250px;
  text-align: center;
}
#indexButtonNav{
  position: absolute;
  top: 3%;
  right: 3%
}
#content input{
  height: 50px;
  width: 400px;
}
#content button{
  height: 55px;
  width: 150px;
  position: absolute;
}
#content2{
  text-align: center;
  margin-top: 200px;
  border-top: 10px solid #303030;
}
#content2 h1, #content2 h2{
  margin-top: 100px;
}

.wrapper img{
  width: 120px;
}
